<body id="sign-up">
  <h2>Sign up</h2>

  <div class="x-up-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.text_field :username, :class => "input-field", placeholder: "Username", autofocus: true %>
      </div>

      <div class="field">
        <%= f.email_field :email, :class => "input-field", placeholder: "Email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, :class => "input-field", placeholder: "Password",autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, :class => "input-field", autocomplete: "off", placeholder: "Password confirmation" %>
      </div>

      <div class="field" id="actions">
        <%= f.submit "Sign up", id: "submit-btn" %> </br>
        <%= render "devise/shared/links" %>
      </div>

    <% end %>

  </div>
</body>