<div class="profile">
  <div class="profile-pic">
    <%= gravatar_for @user %>
  </div>
  <div class="profile-info">
    <h1><%= @user.username %></h1>
    <% if @user == current_user %>
      <%= link_to "Edit profile", edit_user_registration_path(current_user) %>
    <% end %>
    <%= pluralize(@user.dishes.count, "submitted dish") %><br>
    <%= pluralize(@user.dishes.map(&:votes).flatten.count, "total upvote") %>
  </div>
</div>


  <% @user.dishes.sort_by{ |dish| dish.votes.count}.reverse.each do |dish| %>
    <div class="white-bg dish-line">
    <span class="vote-count" id="vote-count-<%= dish.id %>"><%= dish.votes.count %></span>
    <%= render partial: "votes/vote", locals: { dish: dish } %>
    <h3><%= link_to dish.title, category_dish_path(dish.category,dish) %></h3>
    <%= dish.prep_time %> minutes
    </div>
  <% end %>
</ul>
