<div class="row">
  <div class="col-md-4">
    <div class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <h1><%= @user.username %></h1>
      </h1>
    </div>
  </div>
</div>

<p><%= @user.username %> has submitted <%= pluralize(@user.dishes.count, "dish") %></p>
<p><%= @user.username %>'s dishes have received <%= pluralize(@user.dishes.map(&:votes).flatten.count, "upvote") %></p>


<% if @user == current_user %>
  <%= link_to "Edit profile", edit_user_registration_path(current_user) %>
<% end %>

<h2>My Recipes</h2>
<ul>
  <% @user.dishes.sort_by{ |dish| dish.votes.count}.reverse.each do |dish| %>
    <li><%= pluralize(dish.votes.count, "Vote") %> - <%= link_to dish.title, category_dish_path(dish.category,dish) %></li>
  <% end %>
</ul>
