<div class="x-up-form">
  <%= form_for([@dish.category, @dish]) do |f| %>
    <% if @dish.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

        <ul>
        <% @dish.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_field :title, class: "input-field input-box", placeholder: "Title" %>
    </div>

    <div class="field">
      <%= f.number_field :prep_time, id: "prep-tme", class: "input-field input-box", placeholder: "Prep Time" %>
    </div>

    <div class="field2">
      <%= f.text_area :ingredients, class: "input-longer-box", placeholder: "Ingredients" %>
    </div>

    <div class="field2">
      <%= f.text_area :directions, class: "input-longer-box", placeholder: "Directions"  %>
    </div>

    <div class="field actions">
      <%= f.submit "Create Dish", id: "submit-btn" %>
      <%= link_to 'Cancel', category_dishes_path(@dish.category), class: 'field-actions-cancel' %>
    </div>

  <% end %>
</div>
