<p id="notice"><%= notice %></p>

<p>
  <b>title:</b>
  <%= @dish.title %>
</p>

<p>
  <b>User:</b>
  <%= @dish.user %>
</p>

<p>
  <b>Prep time:</b>
  <%= @dish.prep_time %>
</p>

<p>
  <b>Ingredients:</b>
  <%= @dish.ingredients %>
</p>

<p>
  <b>Directions:</b>
  <%= @dish.directions %>
</p>

<p>
  <b>Category:</b>
  <%= @dish.category %>
</p>


<%= link_to 'Edit', edit_category_dish_path(@dish.category, @dish) %> |
<%= link_to 'Back', category_dishes_path(@dish.category) %>
