<p id="notice"><%= notice %></p>


<div class="back-link">
  <%= link_to "Back to #{@dish.category.name}", category_dishes_path(@dish.category) %>
</div>
<h4>
  <%= @dish.title %>
</h4>

<div id="vote-and-count">
  <%= render partial: "votes/vote", locals: { dish: @dish } %>
<span class="vote-count" id="vote-count-<%= @dish.id %>"><%= @dish.votes.count %></span>
</div>

<div id="chef-and-duration">
    Chef <%= link_to @dish.user.username, user_path(@dish.user) %> /
    <%= @dish.prep_time %> minutes
</div>

<div id="directions-and-ingredients">

  <div id="directions">
    <div class="sub-header">directions</br></div>
    <%= @dish.directions %>
  </div>

  <div id="ingredients">
    <div class="sub-header">ingredients</b></div>
    <%= @dish.ingredients %>
  </div>

</div>




<% if current_user == @dish.user %>
  <%= link_to 'Edit', edit_category_dish_path(@dish.category, @dish) %>
  <%= link_to 'Back', category_dishes_path(@dish.category) %>
<% end %>
