<% if current_user && Vote.find_by(dish_id: dish.id, user_id: current_user.id) %>
   <a class="vote-link" id="arugula-<%= dish.id %>" title="Upvote" href="<%= dish_votes_path(dish) %>"><%= image_tag "arugula-green.png", :class => "arugula-effect"%></a>
<% else %>
  <a class="vote-link" id="arugula-<%= dish.id %>" title="Upvote" href="<%= dish_votes_path(dish) %>"><%= image_tag "arugula.png", :class => "arugula-effect" %></a>
 <% end %>

