<div class="nav-bar">

  <div id="search-container">
     <%= form_tag("/searches/show", method: "get") do %>
     <p>
      <%= text_field_tag :search, params[:search], placeholder: "Search ingredient or recipe", size: 37 %>
       <%= submit_tag "Search", name: nil, class: "search-btn" %>
     </p>
     <% end %>
 </div>

 <div class="logo-and-text">
  <div class="logo">
    <%= image_tag("icon.png", size: "62x25") %>
  </div>
  <div class="logo">
    <%= image_tag("frais-logo.png", size: "55x24") %>
  </div>
</div>

<div id="links">
  <%= link_to "Home", root_path %>
  <%unless current_user %>
  <%= link_to "Register", new_user_registration_path %>
  <%= link_to "Login", new_user_session_path %>
  <%else%>
  <%= link_to current_user.username, current_user %>
  <%= link_to "Logout", destroy_user_session_path, method: "delete" %>
  <%end%>
</div>
<!--Change form tag to route to different location.  -->

</div>
