<!DOCTYPE html>
<html>
  <head>
    <title>Dishy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

  <div class="nav-bar">
  <%= link_to "Home", root_path %>
     <%unless current_user %>
       <%= link_to "Register", new_user_registration_path %>
       <%= link_to "Login", new_user_session_path %>
     <%else%>
       <%= link_to current_user.username, current_user %>
       <%= link_to "Logout", destroy_user_session_path, method: "delete" %>
     <%end%>
   </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
